[Unit]
Description=My Node.js Application
After=cloud-final.Service

[Service]
User=csye6225
WorkingDirectory=/opt/csye6225/
ExecStart=/usr/bin/node /opt/csye6225/app.js
Restart=always

[Install]
WantedBy=cloud-init.target
