[Unit]
Description=My Node.js Application
After=cloud-final.service

[Service]
User=csye6225
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/app.js
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target
